/* General */

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* End of General */

/* Slideshow page */

.custom-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.carousel-holder {
  width: 70%;
  height: 50%;
  background: #f7f7f7;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-caption > p,
h5 {
  color: white;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* End of Slideshow page*/

/* O aplikaciji page  */

.custom-container-o-aplikaciji {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c0c0c0;
}

.content-holder-o-aplikaciji {
  width: 70%;
  height: 100%;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.content-holder-o-aplikaciji > h2 {
  font-weight: bolder;
}

/* End of O aplikaciji page */

/* Dokumentacija page */

.accordion {
  padding-bottom: 60px;
}

.custom-container-dokumentacija {
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8c8c8c;
  padding-top: 60px;
}

.content-holder-dokumentacija {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.custom-container-dokumentacija > h2 {
  margin-bottom: 48px;
  color: white;
  font-weight: bolder;
}

/* End of Dokumentacija page */

/* Tech stack page */

.custom-container-tech-stack {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5c5c5c;
}

.content-holder-tech-stack {
  width: 70%;
  height: 100%;
  color: white;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.3);
}

.content-holder-tech-stack h2 {
  color: white;
  font-weight: bolder;
}

/* End of Tech stack page */

.accordion-width {
  width: 50%;
}

/* Footer CSS */

footer {
  width: 100%;
  min-height: 60px;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
}

.footer-text {
  width: max-content;
  height: max-content;
  color: white;
}

/* End of Footer CSS */
